.title{
    color: rgb(255, 255, 255);
}.category-main{
    
    padding-top: 100px;
    background-color: rgb(0, 0, 0);
    height: fit-content;
}

.category-container{
    display: flex;
    
    flex-wrap: wrap;
    padding: 10px;
   
    margin-left: 4%;
    border-radius: 10px;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 1.2rem;
    color: aliceblue;
  }
  