/* Card.css */
.card {
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: auto;
  margin-top: 20px; 
  height: 500px;
  margin-left: 50px;
}

.imageContainer {
  position: relative;
  flex: 0 0 auto; 
  width: 20%; 
  height: 16vh;
  margin-right: 10px;
}

.image {
  width: 100%;
  height: 100%; 
  object-fit: contain;
  border-radius: 5px; 
}
.infoimg {
  width: 100%;
  height: 60%;
  object-fit: contain;;
  border-radius: 5px; 
}

.additionalInfo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#181818; 
  color: white;
  display: flex;
  opacity: 0;
  transition: opacity 0.3s ease; 
  height:215%;
  width: 130%;
  z-index: 9999;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);  border-radius: 10.5px;
  transform: rotateX(-10deg) rotateY(10deg);
}
.infocontainer{
  border-radius: 10.5px;
}
.imgcon{
  flex: 1;

}

.imageContainer:hover .additionalInfo {
  opacity: 1;
}

.button-container {
  display: flex;
  margin-left: 5%;
  margin-top: 7px;
}

.circular-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1.5px solid rgb(104, 99, 99);
  background-color: #181818;
  margin: 4px;
  font-size: 13px;
}
.circular-buttonl{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1.5px solid rgb(104, 99, 99);
  background-color: #181818;
  margin: 4px;
  margin-left: 25%;
  font-size: 13px;
}
.circular-buttonl:hover{
  color: black ;
  background-color: white;
  border: none;
}
.circular-button:hover{
  color: black ;
  background-color: white;
  border: none;
}

.season {
  margin-left: 5%;
  margin-top: 7px;
}

.hashtags {
  margin-left: 5%;
  margin-top: 7px;
  color: #888;
}
